<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <base href="{{site.url}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/rss+xml" title="{{title}}" href="feed.xml">
  {{#if assets.[styles.css]}}
    <link rel="stylesheet" href="{{assets.[styles.css]}}">
  {{else if assets.[styles.js]}}
    <script src="{{assets.[styles.js]}}"></script>
  {{/if}}
</head>
<body>
  {{> header}}
  <section class="content">
    {{> @partial-block}}
  </section>
  {{> footer}}
  <script src="{{assets.[scripts.js]}}"></script>
</body>
</html>
